@CHARSET "UTF-8";
.navbar{
	margin-bottom:5px;
}

.breadcrumb{
	margin-bottom:3px;
	   padding: 8px 15px;
}

.box{
	margin-bottom:3px;
	margin-top:3px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 8px;
    padding-right: 8px;
}

.box-content {
    padding: 5px 10px 5px 10px;
}

/*  tag高度及左右边距*/
.nav-tabs > li > a {
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    line-height: 0.4; 
    margin-right: 2px;
}

/*tab激活状态及鼠标hover,focus处理*/
.nav-tabs > li.active > a ,.nav-tabs > li.active > a:hover,.nav-tabs > li.active > a:focus{
   
}
